.characters-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.character-block {
  display: flex;
  flex-direction: row;
  width: 22%;
  margin: 10px;
}

.character-block, .character-block__image img{
  width: 160px;
  height: auto;
}

.character-block,  .character-block__info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.character-block,  .character-block__info span{
  margin: 5px;

}
.character-name-info{
  color: #19b27b;
  font-size: 20px;
}
.character-name-info:hover{
  cursor: pointer;
  font-size: 21px;
}
.characters-btn{
  background: #19b27b;
  border-radius: 5px ;
  width:120px;
  padding: 4px;
  margin: 10px;
}
.characters-btn:hover{
  cursor: pointer;
  width:130px;
  height: 29px;
  margin-bottom: 8px;
  background: darkgray;
  color: #01573a;
}

