.home{
  background: #1f1b1b;
}
.characters-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.character-block {
  display: flex;
  flex-direction: row;
  width: 24%;
  margin: 15px;
  background: #403f50;
}

.character-block, .character-block__image img{
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.character-block,  .character-block__info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.character-block,  .character-block__info span{
  margin: 5px;
  /*color: #57566c;*/
}
.character-name-info {
  color: #19b27b;
  font-size: 20px;
}
.character-location-name-info{
  color: #19b27b;
}
.character-name-info:hover, .character-location-name-info:hover{
  cursor: pointer;
  color: #ffae00;
}
.character-name-span{
  color: #9f9fc4;
  font-size: 14px;
}
.characters-btn{
  display: flex;
  justify-content: center;
  position: relative;
  background: #19b27b;
  border-radius: 5px ;
  width:120px;
  left: 2%;
  padding: 4px;
  margin: 10px;
  box-shadow: 0 3px 10px rgb(143, 33, 49), inset 0 1px 0 rgba(255, 255, 255, 0.42);
  transition: .3s linear all;
}
.characters-btn:hover{
  cursor: pointer;
  width:130px;
  height: 29px;
  margin-bottom: 8px;
  background: darkgray;
  color: #01573a;
}


